{{yield}}

<div>
  Pick a color
</div>
<input type="color" value={{picked}} onchange={{action 'colorPicked'}}>

<div class='container' onclick={{action 'colorPicked'}}>
{{#each colors as |color| }}
  <!-- action cannot be attached directly on the output of htmlSafe helper -->
    {{background-color color}}
{{/each}}
</div>

<span>You picked: {{background-color picked}}</span>
